* {
  color: rgb(10, 10, 10);
  width: 100%;
  height: 100%;
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
li {
  width: 40%;
  padding: 1rem;
  background-color: rgba(73, 185, 223, 0.829);
  border-radius: 2rem;
  box-shadow: 0 5px 5px black;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(143, 139, 139);
  box-shadow: 0 5px 5px rgb(247, 242, 242);
}
button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgba(108, 145, 66, 0.5);
  color: white;
  cursor: pointer;
  border-radius: 2rem;
  box-shadow: 0 5px 5px black;
}
