.contenedorGeneral {
  background-color: orange;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.botones {
  all: unset;
  border-radius: 1rem;
  margin: 1.5rem;
  box-shadow: 0 0 5px rgb(119, 117, 117);
  font-size: 1rem;
  padding: 1rem;
  background-color: rgba(3, 17, 36, 0.253);
  font-weight: bold;
  color: white;
}
.botones:active {
  box-shadow: 0 0 20px black;
  transform: scale(0.9);
}

.ListaProductos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
}

.productoItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 76, 151, 0.253);
  margin: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgb(3, 0, 0);
  align-items: center;
  width: 20rem;
  transition: 0.5s;
}

.productoItem:hover {
  box-shadow: 0 2px 15px rgb(3, 0, 0);
  transform: scale(1.1);
  background-color: #f1b442;
}

.productoItem span {
  margin: 0.5rem;
}
.productoItem strong {
  font-size: 1.5rem;
}
.productoItem img {
  border-radius: 1rem;
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  object-fit: cover;
}

.productoItem button {
  all: unset;
  border-radius: 1rem;
  width: 50%;
  padding: 0.2rem;
  background-color: rgba(255, 166, 0, 0.281);
}

.productoItem button:hover {
  background-color: rgba(255, 0, 0, 0.226);
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #c48d26;
  box-shadow: 0 5px 50px rgb(0, 0, 0);
  padding: 5rem;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1000;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.993);
}
.form label {
  margin: 1rem 0 0.5rem 0;
}

.form:hover {
  box-shadow: 0 5px 50px rgb(255, 255, 255);
}

.form input {
  all: unset;
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 2rem;
  margin-bottom: 1rem;
}
