<div class="contenedorGeneral">
  <h2>Lista de Productos</h2>
  <button class="botones" (click)="agregarProducto = !agregarProducto">Nuevo</button>
  <div class="ListaProductos">
    <ul *ngIf="!loading && productos.length > 0; else sinProductos">
      <li *ngFor="let product of productos">
        <div class="productoItem">
          <h3>{{ product.nombre }}</h3>
          <img src="{{ product.imagenUrl }}" alt="{{ product.nombre }}" />
          <span
            >Precio Original: <br />
            <del> ${{ product.precio }} </del>
            <br />
            <del> USD${{ product.precio | currency : cotizacionDolar }}</del>
          </span>
          <span
            >Precio con Descuento:
            <br />
            <strong> {{ porcentajeDescuento }}% off </strong>
            <br />
            <strong>ARG ${{ product.precio | descuento : porcentajeDescuento }} </strong>
            <br />
            <strong> USD ${{ product.precio | currency : cotizacionDolar }} </strong>
          </span>

          <small
            >Oferta valida hasta el
            <br />
            {{ product.fechaAlta | diasOferta : diasOferta }}
          </small>
          <br />
          <button (click)="deleteProducto(product.id)">Eliminar</button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #sinProductos>
    <p>No hay productos para mostrar</p>
  </ng-template>
  <button class="botones" (click)="reset()">RESET</button>
  <form class="form" *ngIf="agregarProducto" (ngSubmit)="addProductoForm()">
    <h2>Nuevo producto</h2>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nuevoProducto.nombre" name="nombre" required />
    <label> Precio</label>
    <input type="number" [(ngModel)]="nuevoProducto.precio" name="precio" required />
    <label> Descripcion</label>
    <input type="text" [(ngModel)]="nuevoProducto.descripcion" name="descripcion" required />
    <label> Imagen URL</label>
    <input type="text" [(ngModel)]="nuevoProducto.imagenUrl" name="imagenUrl" required />
    <label> Fecha de Alta</label>
    <input type="date" [(ngModel)]="nuevoProducto.fechaAlta" name="fechaAlta" />
    <button class="botones" type="submit">Agregar Producto</button>
    <button class="botones" (click)="agregarProducto = false">Cancelar</button>
  </form>
</div>
